// Variables

// Font
$base-font-color: #676a6c;
$base-font-weight: 400;
$base-font-bold: 500;
$base-font-size: 13px;

$base-round: 3px;

$base-font-color: #676a6c;
$base-font-weight: 400;
$base-font-bold: 500;
$base-font-size: 13px;

$base-round: 3px;

$default-border-color: #676a6c;
$default-background-color: #676a6c;
$default-text-color: #676a6c;

$primary-border-color: #1ab394;
$primary-background-color: #1ab394;
$primary-text-color: #1ab394;

$success-border-color: gray;
$success-background-color: gray;
$success-text-color: gray;

$info-border-color: gray;
$info-background-color: gray;
$info-text-color: gray;

$warning-border-color: gray;
$warning-background-color: gray;
$warning-text-color: gray;

$default-border-color: gray;
$default-background-color: gray;
$default-text-color: gray;

$danger-border-color: gray;
$danger-background-color: gray;
$danger-text-color: gray;

//$base-border-color: #676a6c;
//$primary-color: #1ab394;
//$success-color: #1c84c6;
//$info-color: #23c6c8;
//$warning-color: #f8ac59;
//$danger-color: #ed5565;