@import "constants";
.art-form-control {
  line-height: 1.8em;
  color: $base-font-color;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  margin: 5px 0 10px;

  &:focus {
    border-color: #1ab394;
    //box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
    box-shadow: none;
  }



}

.art-select {
  width: 100%;

  & .art-select-dropdown-wrap {
    top: -10px;
  }

  & .art-select-dropdown {
    border: {
      left: 1px solid #1ab394;
      right: 1px solid #1ab394;
      bottom: 1px solid #1ab394;
    }
    border-radius: 0 0 2px 2px;
    padding-bottom: 15px;
  }

  & .art-content {
    font-size: 1.1em;
    padding: 5px;

    & > * {
      cursor: pointer;

      &:hover {
        background: gainsboro;
      }
    }
  }
}
