$base-font-color: #676a6c;
$base-font-weight: 400;
$base-font-bold: 500;
$base-font-size: 13px;

$base-round: 3px;


// buttons

$default-border: gray;
$default-bg: white;
$default-color: black;


$default-border-color-active: gray;
$default-background-color-active: gray;
$default-text-color-active: gray;

$default-border-color: gray;
$default-background-color: gray;
$default-text-color: gray;

$primary-border-color: gray;
$primary-background-color: gray;
$primary-text-color: gray;

$success-border-color: gray;
$success-background-color: gray;
$success-text-color: gray;

$info-border-color: gray;
$info-background-color: gray;
$info-text-color: gray;

$warning-border-color: gray;
$warning-background-color: gray;
$warning-text-color: gray;

$default-border-color: gray;
$default-background-color: gray;
$default-text-color: gray;

$danger-border-color: gray;
$danger-background-color: gray;
$danger-text-color: gray;
